@import "config/scss/colors";
@import "config/scss/shadows";

$verticalGap: 16px;

.link {
  height: max-content;
}

.targetSelection {
  margin-top: 16px;
}

.charts {
  display: flex;
  flex-direction: column;
  row-gap: $verticalGap / 2;
  column-gap: $verticalGap;
  max-height: 150px;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 32px;

  .chart {
    width: calc(50% - ($verticalGap * 2));

    .chartName {
      font-size: 16px;
      margin-bottom: 4px;
    }

    .progressBar {
      position: relative;
      width: 100%;
      height: 10px;
      border: $yellow solid 2pt;

      &Value {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $yellow;
        height: 100%;
      }
    }
  }
}
