@import "config/scss/colors";

$verticalGap: 16px;

.root {
  width: 100%;
  min-width: 450px;
}

.link {
  height: max-content;
}

.targetSelection {
  margin-top: 16px;
}

.charts {
  display: flex;
  flex-direction: column;
  row-gap: $verticalGap / 2;
  column-gap: $verticalGap;
  max-height: 200px;
  flex-wrap: wrap;
  width: 80%;
  margin-top: 32px;

  > div {
    width: calc(50% - ($verticalGap * 2));
  }
}

.ratio {
  font-size: 18px;
  font-weight: 700;
  color: $yellow;
}

.compareMode {
  width: 100%;
}

.compareModeChild {
  cursor: pointer;
}

.isSelected {
  border: $yellow solid 2px;
}