@import 'config/scss/colors';
@import 'config/scss/shadows';
@import 'config/scss/border';


.link {
  background-color: $lightGrey;
  color: $darkGrey;
  padding: 16px;
  width: max-content;
  cursor: pointer;
  border-radius: $borderRadius;
  box-shadow: $boxShadow;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;

}

.alternativeLink {
  background-color: $yellow;
  color: $darkGrey;
  font-weight: 400;
  text-transform: inherit;
  padding: 24px;
}