@import '@/scss/colors';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  .classes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}
